<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
        记忆功能：
            访问的是localhost:90/index.jsp
            由于没有登录，被拦截，跳转到了登录页面
            登录成功后，默认上一次的请求（访问 localhost:90/index.jsp）

            谷歌, 火狐 浏览器, 在访问资源被拦截时 ，会自动请求 /favicon.ico

           解决方法： 设置该路径 不拦截（可以匿名访问）
    -->
    <!--设置/favicon.ico 可以匿名访问 -->
    <security:http pattern="/favicon.ico" security="none"></security:http>
    <!--还需要设置：登录，失败 页面匿名方法-->
    <!--还需要设置：静态资源 匿名方法-->


    <!--授权-->
    <!--
         auto-config ：是否使用安全框架自带的配置信息
         use-expressions: 是否使用spEl表达式
    -->
    <security:http auto-config="true" use-expressions="false">
        <!--配置拦截规则-->
        <!--
            pattern="/**"；  拦截所有
            access: 允许的权限
        -->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"></security:intercept-url>
    </security:http>


    <!--认证-->
    <!--认证管理器：管理认证信息 -->
    <security:authentication-manager>
        <!--认证信息的提供者-->
        <security:authentication-provider>
            <!--认证信息列表-->
            <security:user-service>
                <!--认证信息-->
                <!--
                    name: 用户名
                    password: 密码(默认加密： 密文) , {noop} 不加密
                    authorities: 权限列表 ， 给当前用户分配权限
                -->
                <security:user name="admin" password="{noop}1234" authorities="ROLE_ADMIN"></security:user>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>