<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
        记忆功能：
            访问的是localhost:90/index.jsp
            由于没有登录，被拦截，跳转到了登录页面
            登录成功后，默认上一次的请求（访问 localhost:90/index.jsp）

            谷歌, 火狐 浏览器, 在访问资源被拦截时 ，会自动请求 /favicon.ico

           解决方法： 设置该路径 不拦截（可以匿名访问）
    -->
    <!--设置/favicon.ico 可以匿名访问 -->
    <security:http pattern="/favicon.ico" security="none"></security:http>
    <!--还需要设置：登录，失败 页面匿名方法-->
    <security:http pattern="/pages/login.html" security="none"></security:http>
    <security:http pattern="/pages/error.html" security="none"></security:http>
    <!--还需要设置：静态资源 匿名方法-->


    <!--授权-->
    <!--
         auto-config ：是否使用安全框架自带的配置信息
         use-expressions: 是否使用spEl表达式
    -->
    <security:http auto-config="true" use-expressions="true">
        <!--配置拦截规则-->
        <!--
            pattern="/**"；  拦截所有
            access: 允许的权限
        -->
        <!--
            hasRole: 【只有一个参数】判断是否有这个权限， 此方法中的参数必须以： ROLE_开头，全是大写
            hasAuthority：【只有一个参数】 判断是否有这个权限, 参数可以随便写
            hasAnyRole： 可以有多个参数
            hasAnyAuthority： 可以有多个参数
        -->
        <!--<security:intercept-url pattern="/**" access="ROLE_ADMIN"></security:intercept-url>-->
        <security:intercept-url pattern="/pages/a.html" access="hasRole('ROLE_ADMIN')"></security:intercept-url>
        <security:intercept-url pattern="/pages/b.html" access="hasAnyAuthority('ROLE_USER','add')"></security:intercept-url>
        <security:intercept-url pattern="/pages/c.html" access="hasAuthority('select')"></security:intercept-url>
        <security:intercept-url pattern="/pages/d.html" access="hasAuthority('delete')"></security:intercept-url>
        <!--配置自定义页面-->
        <!--
            login-page:登录页面路径
            login-processing-url: 登录的请求路径(表单的action)
            default-target-url: 登录成功后的默认访问路径
            authentication-failure-url: 认证失败的访问路径'
            username-parameter: 用户名参数名(映射表单)，默认值是 username
            password-parameter： 密码参数名(映射表单), 默认值是 password
        -->
        <security:form-login
                login-page="/pages/login.html"
                login-processing-url="/login.do"
                default-target-url="/pages/success.html"
                authentication-failure-url="/pages/error.html"
                username-parameter="username"
                password-parameter="pwd"></security:form-login>

        <!--关闭跨站请求伪造: 如果不关闭，登录会失败-->
        <security:csrf disabled="true"></security:csrf>

    </security:http>


    <!--创建 用户服务对象-->
    <bean id="userService" class="com.itheima.security.SpringSecurityUserService"></bean>
    <!--认证-->
    <!--认证管理器：管理认证信息 -->
    <security:authentication-manager>
        <!--认证信息的提供者-->
        <!--
            user-service-ref 关联用户的提供者 对象
                        必须实现UserDetailsService 接口
        -->
        <security:authentication-provider user-service-ref="userService">
            <security:password-encoder ref="passwordEncoder"></security:password-encoder>
            <!--认证信息列表-->
            <!--<security:user-service>-->
                <!--认证信息-->
                <!--
                    name: 用户名
                    password: 密码(默认加密： 密文) , {noop} 不加密
                    authorities: 权限列表 ， 给当前用户分配权限
                -->
                <!--<security:user name="admin" password="{noop}1234" authorities="ROLE_ADMIN"></security:user>-->
            <!--</security:user-service>-->
        </security:authentication-provider>
    </security:authentication-manager>


    <!--创建加密工具类-->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
</beans>