<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--授权-->
    <!--
         auto-config ：是否使用安全框架自带的配置信息
         use-expressions: 是否使用spEl表达式
    -->
    <security:http auto-config="true" use-expressions="false">
        <!--配置拦截规则-->
        <!--
            pattern="/**"；  拦截所有
            access: 允许的权限
        -->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"></security:intercept-url>
    </security:http>


    <!--认证-->
    <!--认证管理器：管理认证信息 -->
    <security:authentication-manager>
        <!--认证信息的提供者-->
        <security:authentication-provider>
            <!--认证信息列表-->
            <security:user-service>
                <!--认证信息-->
                <!--
                    name: 用户名
                    password: 密码(默认加密： 密文) , {noop} 不加密
                    authorities: 权限列表 ， 给当前用户分配权限
                -->
                <security:user name="admin" password="{noop}1234" authorities="ROLE_ADMIN"></security:user>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>